
*  {
    margin: 0;
    padding:0;
    box-sizing: border-box; /* Visto en la clase de consulta 4- Es para que la caja se "autoajuste" y me pueda olvidar de eso */
}

body {

font-family: Arial, Helvetica, sans-serif;
background-color:lightslategray;
display:flex; /* Visto en After class 4, hacer flexible el body, flexbox es una herramienta para reacomodar nuestros elementos sin nosotros lo tengamos que hacer */
flex-direction: column;  /* todos los elementos que tenga este body que se  comporten sus elementos hijos como columnas */
}


header {
color:brown;
text-align: center;

}
h2 {
color:blueviolet;
background-color: black;

}

h1 {
    color:blueviolet;
    background-color: black;
    }


nav ul li {
    display:inline;  /* Es para que se comporte en linea,ya que tiene comportamiento en bloque */
    margin: 0 15px; /* Es para separar las letras*/
}

nav ul li a {
text-decoration:none; /* Es para sacarle el lineado al nav a */
color:white;

}

nav ul li a:hover  {


background-color: #7a7a7a; /* After class 7, cuando paso el cursor por encima se pone gris */

}




nav ul {    
    list-style: none; 
    display:flex; /* Es para hacer flexibles a los hijos, se adecuan a la pantalla */
    justify-content: center; /* Se centra el contenido  */
    padding: 0.7 em; /* Para hacerla mas chica a la barra del nav */
    }
    
table {
width:80%;/* que ocupe el 80% de la pantalla */
border-collapse: collapse;
text-align: center;
margin: 20px auto;
}

table, th, td {
border: 2px solid #ccc;
}

th, td {

text-align: left; /* alineo el texto de la tabla a la izquierdas */

}

table td button {
padding: 8px 12px;
background-color: black;
color: azure;
border: none;
cursor: pointer; /* Cambia la forma del cursor cuando paso la mano, after class 5 */
}

table td button:hover { 
background-color: #7a7a7a;


}

footer {
 text-align: center;
 padding: 10px 0;
 background-color: black;
 color:white;
 position: relative;
 bottom:0;
 width: 100%;
}

div p {
width: 80%;
margin: 0%;
background-color: red;
background: linear-gradient(to right, #7a7a7a, #2dd4dc);  /* para hacer degrade de coolor after class 3 (min 50) */
border-radius: 10%;}

.estilo-div {
margin:auto;
}

/* Estilo de font-size pedido en la tarea de la clase 5 */
.estilo-div{ 
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.container {

display: grid;
grid-template-rows: auto auto 1fr auto;
grid-template-columns: 1fr;


}